<ion-header no-border>
  <ion-toolbar color="white">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search a place">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <div style="width:100%;height:100%;position:relative;">
    <div id='map'></div>
    <div style="position:absolute;bottom:30px;right:10px">
      <ion-button>
        Next
      </ion-button>
    </div>
  </div>
</ion-content>